.m-user {
  display: flex;
  flex-direction: row;
}

.search-bar {
  .el-input__inner {
    text-align: center;
  }
}

.el-select-dropdown__item {
  text-align: center;
}

.el-input--default {
  height: 38px;
}

.m-user-table {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  width: calc(100% - 230px);

  .header {
    display: flex;
    padding: 16px 16px 0px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0 12px rgb(0 0 0 / 5%);
  }

  .footer {
    flex: 1;
    display: flex;
    padding: 16px;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 12px rgb(0 0 0 / 5%);
    position: relative;
    box-sizing: border-box;

    .util {
      margin-bottom: 15px;
      display: flex;
      justify-content: flex-end;
      flex-shrink: 0;
    }

    .table-inner {
      flex: 1;
      position: relative;
    }

    .table {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%
    }
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}


.m-dept-side {
  box-sizing: border-box;
  width: 220px;
  height: 100%;
  padding: 18px;
  margin-right: 10px;
  flex-shrink: 0;

  ::v-deep(.el-card__body) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 !important;

    .el-tree-node__content {
      height: 33px;
    }

    .el-tree {

    }
  }

  .filter-search {
    flex-shrink: 0;
    margin-bottom: 10px;
  }

  .title {
    flex-shrink: 0;
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 700;
  }

  .scrollbar {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;

  }

  .filter-tree {
    flex: 1;
    overflow: hidden;
    position: relative;
  }
}

.m-tag-gap {
  margin-bottom: 10px;
}

.user-detail-drawer {
  .header {
    position: relative;
    padding-left: 10px;
    color: #000;
    background: #fff;
    font-size: 17px;
    font-weight: 500;
  }

  .el-drawer__header {
    margin-bottom: 0;
  }

  .user-detail-body {
    .el-row {
      width: 100%;
      padding: 15px 10px;
    }

    .title {
      flex: 0 0 auto;
      width: 80px;
      margin-right: 20px;
      font-size: 14px;
      color: #8c8c8c;
      text-align: justify;
    }

    .content {
      color: #333;
      font-size: 14px;
      word-wrap: break-word;
      word-break: break-all;
      white-space: normal;
    }

    .m-tag-gap {
      margin-right: 5px;
    }
  }
}
